@keyframes load-out {
  100% {
    opacity: 0;
    display: none;
  }
  0% {
    opacity: 1;
  }
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 74px;
}

body {
  font-family: "Poiret One", sans-serif;
  font-size: 1.6rem;
  color: #000;
}

.navbar-bg-color {
  background-color: #e4d3cf;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 10px;
  width: 50px;
  height: 3px;
  background-color: #b67162;
}

.loading {
  position: fixed;
  background-color: #fff;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  animation: load-out 1s forwards;
}
.loading img {
  position: relative;
  width: 20vw;
  left: 50%;
  transform: translateX(-50%);
}
.loading p {
  position: relative;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%);
}

.brand h2 {
  position: fixed;
  top: 0;
  left: 100%;
  writing-mode: vertical-rl;
  font-size: 2.7rem;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 0.75em;
  line-height: 1em;
  margin: -1.25em -2em;
  z-index: 2;
}
.brand__social {
  position: fixed;
  left: 2em;
  top: 50%;
  font-size: 2rem;
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  z-index: 2;
}
.brand__social a {
  margin: 10px;
  color: #000;
}
.brand__social a:hover {
  color: #9e9d89;
}

.nav {
  text-transform: uppercase;
  transition: background-color 0.6s;
  z-index: 1;
}
.nav .nav-link {
  padding: 1.5em 0.75em;
}
.nav .nav-link__item {
  position: relative;
  margin: 0 0.5em;
  font-size: 2.2rem;
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav .nav-link__item::before {
  position: absolute;
  bottom: 3px;
  height: 3px;
  transform: scaleX(0);
  background-color: #b67162;
  transition: transform 0.3s;
  content: "";
}
.nav .nav-link__item:hover::before, .nav .nav-link__item:focus::before {
  transform: scaleX(1);
}
.nav .nav-link__item:hover, .nav .nav-link__item:focus {
  color: #000;
}
.nav .nav-link__projects::before {
  width: 89px;
}
.nav .nav-link__offer::before {
  width: 70px;
}
.nav .nav-link__about::before {
  width: 76px;
}
.nav .nav-link__contact::before {
  width: 94px;
}
.nav .navbar-toggler {
  padding: 10px 15px;
}

header.hero-img {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 4em;
  padding: 6em 2em;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
header.hero-img h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 2em 0 1em 0;
}
header.hero-img .item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
}
header.hero-img .hero-text .btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  color: #000;
  border-color: #000;
}
header.hero-img .hero-text .btn:hover {
  background-color: #e4d3cf;
}
header.hero-img .fa-chevron-down {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  font-size: 3rem;
  color: #e4d3cf;
}

.projects {
  position: relative;
}
.projects h2 {
  padding-top: 2em;
}
.projects__box {
  display: flex;
  flex-direction: row;
  margin: 1em 0em;
}
.projects__img {
  width: 100%;
  margin-bottom: 1em;
  transition: transform 0.3s;
}
.projects__img:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.projects__title {
  text-align: center;
}

.offer h2 {
  margin-top: 2em;
}
.offer__img {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
}

.about {
  position: relative;
  height: 100vh;
  width: 100%;
  max-height: 600px;
  background-image: url(../img/pexels-vlada-karpovich-4050284.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about__info {
  padding: 2em;
  margin: 4em 1em;
  background-color: rgba(228, 211, 207, 0.9);
}
.about p {
  text-align: center;
}

.contact {
  position: relative;
  overflow: hidden;
  margin: 0 2em;
}
.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: 1px solid #b67162;
  border-radius: 8px;
  font-size: 1.6rem;
  width: 100%;
}
.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: 1px solid #b67162;
  border-radius: 8px;
  font-size: 1.6rem;
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
}
.contact__form-btn {
  align-self: flex-end;
  padding: 1em;
  width: 100%;
  border: 1px solid #b67162;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.contact__form-btn:hover {
  background-color: #e4d3cf;
}

.footer {
  position: relative;
}
.footer__box {
  width: 100%;
  margin-top: 2em;
  padding: 3em 1.5em;
  background-color: #9e9d89;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__box-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__box-copy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__box-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__box-icons a {
  color: #000;
  margin: 0 0.5em;
}

@media (min-width: 576px) {
  header.hero-img h1 {
    font-size: 3rem;
    margin: 1.5em 0 0.75em 0;
  }
  header.hero-img .hero-text .btn {
    font-size: 2rem;
    padding: 10px 20px;
    color: #000;
    border-color: #000;
  }
  .section-title {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .projects__box {
    margin: 3em 0;
  }
  .projects__box-img--right {
    position: relative;
    left: 50%;
  }
  .projects__img {
    max-width: 380px;
  }
  .contact {
    margin: 0 6em;
  }
}
@media (min-width: 992px) {
  nav .nav-link__items {
    padding-top: 0;
  }
  nav .nav-link__item {
    font-size: 2.5rem;
  }
  nav .nav-link__item::before {
    width: 100%;
  }
  header.hero-img {
    padding: 0 4em 5em;
  }
  header.hero-img .item {
    max-height: 750px;
  }
  header.hero-img h1 {
    font-size: 3.5rem;
    margin: 3em 0 0.5em 0;
  }
  header.hero-img .hero-text .btn {
    font-size: 2rem;
  }
  .projects__img {
    max-width: 480px;
  }
  .projects__title {
    font-size: 2rem;
  }
  .projects__title-left {
    text-align: left;
  }
  .projects__title-right {
    text-align: right;
  }
  .contact {
    margin: 5em 10em;
  }
}
@media (min-width: 1200px) {
  .projects__img {
    max-width: 580px;
  }
}
@media (min-width: 1400px) {
  nav .navbar-brand {
    margin-left: 10px;
  }
  nav .nav-link__item {
    margin-left: 2em;
  }
  header.hero-img {
    padding: 8em 8em 8em;
  }
  .projects__img {
    max-width: 680px;
  }
}/*# sourceMappingURL=main.css.map */