@use 'colors' as colors;

.privacy__wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 2em 0 10em;
	padding: 0 12em;
	z-index: 1;

	ol {
		position: relative;
		display: inline-block;
		margin-top: 2em;
		li {
			text-align: justify;
			position: relative;
			text-align: left;
			font-size: 2rem;
		}
	}

	p {
		position: relative;
		text-align: left;
		font-size: 2.5rem;
	}

	a {
		text-decoration: none;
		color: colors.$secondary-color;
	}

	a:hover {
		color: #885448;
	}
}
