@use 'colors' as colors;

.project {
    position: absolute;
    height: 500px;
	&__img {

		cursor: pointer;
		&-scale {
			transition: scale 0.3s;
		}
		&-one {
			position: relative;
			width: 500px;
			margin: 2em;
		}

		&-two {
			position: relative;
			width: 800px;
			margin: 2em;
			left: 520px;
			bottom: 346px;
		}
		&-three {
			position: relative;
			width: 500px;
			margin: 2em;
			bottom: 550px;
		}
		&-four {
			position: relative;
			width: 800px;
			margin: 2em;
			left: 520px;
			bottom: 730px;
		}
		&-five {
			position: relative;
			width: 500px;
			margin: 2em;
			bottom: 1076px;
		}
	}

	&__img {
		&-scale:hover {
			scale: 1.01;
		}
	}
}
