@use 'colors' as colors;
@use 'mixins' as mixins;
@use 'components' as components;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poiret One', sans-serif;
	color: colors.$black;
	font-size: 1.6rem;
}

nav {
	text-transform: uppercase;
	z-index: 1;
	height: 100px;
	.nav-link {
		&__item {
			position: relative;
			margin: 0 1.5em;
			font-size: 2.2rem;
			color: colors.$black;
			text-decoration: none;

			&::before {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 3px;
				display: flex;
				align-items: center;
				transform: scaleX(0);
				background-color: colors.$third-color;
				transition: transform 0.3s;
				content: '';
			}

			&:hover::before,
			&:focus::before {
				transform: scaleX(1);
			}
		}
	}

	.navbar-toggler {
		padding: 10px 15px;
	}
}

header.hero-img {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url(../img/Main.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;

	h1 {
		text-transform: uppercase;
		font-size: 4rem;
		margin: 20px 0;
	}

	.hero-text {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;

		.btn {
			font-size: 2rem;
			padding: 10px 20px;
		}
	}
	.fa-chevron-down {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translate(-50%);
		font-size: 3rem;
		color: colors.$main-color;
	}
}
